<!--Navbar -->
<nav class="nav aqua-gradient navbar navbar-expand-lg">
  <a class="navbar-brand text-white font-weight-light" routerLink="/home/Home">
    <img src="/assets/pics/vibe.png" class="logo">
  </a>
  <button class="navbar-toggle btn btn-sm" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent-333"
          aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span>
      <i class="fa fa-lg fa-bars"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto text-white">
      <li class="nav-item ">
        <a class="nav-link text-white button" routerLink="/home/productMenu" data-toggle="tooltip"
           data-placement="bottom" title="Shoes">
          Shoes
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link text-white button" routerLink="/home/productMenu" data-toggle="tooltip"
           data-placement="bottom" title="Mobile">
          Mobiles
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white button" id="navbarDropdownMenuLink-333"
           aria-haspopup="true" aria-expanded="false" routerLink="/home/productMenu" data-toggle="dropdown"
           data-placement="bottom" title="Fashion">
          Fashion
        </a>
        <div class="dropdown-menu dropdown-default text-center" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" routerLink="/home/productMenu">Men</a>
          <a class="dropdown-item" routerLink="/home/productMenu">Women</a>
          <a class="dropdown-item" routerLink="/home/productMenu">Kids</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown text-white">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" data-placement="bottom" title="My-Profile">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default text-center"
             aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" routerLink="/home/myProfile">My Profile</a>
          <a class="dropdown-item" routerLink="/public/login">Login</a>
          <a class="dropdown-item" routerLink="/public/register">Register</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light text-white" routerLink="/home/wishlist" data-toggle="tooltip"
           data-placement="bottom" title="Wishlist">
          <i class="fa fa-heart"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light text-white" routerLink="/home/cart" data-toggle="tooltip"
           data-placement="bottom" title="Cart">
          <i class="fa fa-shopping-cart"></i>
          <span class="badge rounded-pill badge-notification bg-danger"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

