.navbar-toggle {
  display: none;
}

.nav {
  padding: 2px 30px;
}

.logo {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

a {
  font-size: 14px;
}

@media (max-width: 992px) {
  .navbar-toggle {
    display: block;
    padding: 5px;
  }

  .navbar-toggle {
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
  }

  a {
    display: flex;
  }
}
