<app-header></app-header>

<i class="fa fa-arrow-left fa-sm text-primary ml-4 mt-2" routerLink="/home/productMenu"></i>

<div class="m-0">

  <div class="row mt-4" id="colEdit" *ngIf="product">
    <div class="col-md-2 mobile-hide"></div>
    <div class="col-md-4 ">
      <div class="d-flex justify-content-center">
        <div class="mainDiv">
          <div><img class="moreImages mb-2" src="{{product.image}}"></div>
          <div><img class="moreImages mb-2" src="{{product.image}}"></div>
          <div><img class="moreImages mb-2" src="{{product.image}}"></div>
          <div><img class="moreImages mb-2" src="{{product.image}}"></div>
          <div><img class="moreImages" src="{{product.image}}"></div>
        </div>
        <img src="{{product.image}}" class="imageEdit ml-4">
      </div>

      <div class="mainDiv-mobile">
        <div><img class="moreImages-mobile mb-2" src="{{product.image}}"></div>
        <div><img class="moreImages-mobile mb-2" src="{{product.image}}"></div>
        <div><img class="moreImages-mobile mb-2" src="{{product.image}}"></div>
        <div><img class="moreImages-mobile mb-2" src="{{product.image}}"></div>
        <div><img class="moreImages-mobile" src="{{product.image}}"></div>
      </div>
    </div>
    <div class="col-md-4">
      <h4 class="pt-0"><b>{{ product.name }}</b></h4>
      <p class="text-muted">{{ product.specs }}</p>
      <p class="text-muted" id="productDesc">{{ product.description }}</p>
      <p>{{product.rating}}<i class="fa fa-star mr-1 ml-1 text-warning"></i> Ratings</p>
      <p>Some Credit card offers T&C</p>
      <p>Some Bank Offers and Cashback T&C</p>
      <p class="text-muted"><s>{{ product.mrp | currency:'INR' }}</s></p>
      <h4 class="text-dark"><b>{{ product.price | currency:'INR' }}</b></h4>
      <h5 class="ml-3 text-success"><b>{{product.discount}}% off</b></h5>
      <p class="text-muted">inclusive of all taxes</p>
      <div class="mt-0">
        <button class="btn btn-sm btn-primary" (click)="addToCart(product)">
          <i class="fa fa-shopping-cart mr-2"></i>Add to Cart
        </button>
        <button class="btn btn-sm btn-danger" (click)="addToWishlist(product)">
          <i class="fa fa-heart mr-2"></i>Add to Wishlist
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-2 mobile-hide"></div>
</div>
<hr>

<div class="row mt-2">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="btn disabled font-weight-bold mt-4" id="returnPolicy">
      Easy 30 days return and exchange. <br>
      Return Policies may vary based on products and promotions.
      <div class="mt-3">
        <button class="btn btn-outline btn-sm"><i class="fa fa-share fa-2x text-warning"></i>
        </button>
        <button class="btn btn-outline btn-sm"><i class="fa fa-truck fa-2x text-danger"></i></button>
        <button class="btn btn-outline btn-sm"><i class="fa fa-check fa-2x text-success"></i></button>
      </div>
      <div class="d-flex returnPolicyIcons">
        <p class="ml-2">Easy <br> Returns</p>
        <p class="ml-4">Fast <br>Delivery</p>
        <p class="ml-4">Quality <br> Assured</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 m-0">
    <div class="reviews">
      <div class="card reviews">
        <div class="card-header">
          Reviews by verified customers <i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
          <i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            1<i class="fa fa-star text-warning"></i>
            Worst product, hangs so much. I hate it. Waste of money.
            <i class="fa fa-user-circle ml-3 text-muted"></i> Customer Name
          </li>
          <li class="list-group-item">
            3.8<i class="fa fa-star text-warning"></i>
            Awesome camera, good sound. Worth buying.
            <i class="fa fa-user-circle ml-3 text-muted"></i> Customer Name
          </li>
          <li class="list-group-item">
            4.5<i class="fa fa-star text-warning"></i>
            Awesome smartphone, I love it <i class="fa fa-heart text-danger"></i>
            <i class="fa fa-user-circle ml-3 text-muted"></i> Customer Name
          </li>
          <form class="form-inline mt-2">
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Have any review?">
            </div>
            <button type="submit" class="btn btn-sm btn-primary mb-2 disabled addReview">Add review</button>
          </form>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<hr>
<h4 class="mt-4 mb-4 ml-5"><b>Similar Products</b></h4>

<div class="similarItemsContainer">
  <div class="card mb-3" id="cardHeightSimilar" *ngFor="let item of products">
    <a (click)="navigate(item.id)">
      <img src="{{ item.image }}" class="card-img-similar mt-2">
    </a>
    <hr>
    <div class="card-body">
      <h6 class="card-title">{{ item.name }}</h6>
      <p class="card-title text-muted mb-2">{{ item.specs }}</p>
      <p class="card-title text-muted">{{ item.description }}</p>
      <p class="text-muted mb-0 mt-3"><s>{{ item.mrp | currency:"INR" }}</s></p>
      <div class="d-flex mt-0">
        <p id="itemPrice"><b>{{ item.price | currency:"INR" }}</b></p>
        <a class="btn btn-sm btn-primary"
           (click)="navigate(item.id)">Shop Now</a>
      </div>
    </div>
  </div>
</div>







