.imageEdit {
  height: 400px;
  width: 400px;
}

#allPics {
  width: 35rem;
  height: 10rem;
}

.similarItemsContainer {
  display: flex;
}

.imageGallery {
  width: 50px;
  height: 80px;
}

#imgSimilarProducts {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.moreImages {
  height: 72px;
  width: 90px;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.mainDiv-mobile {
  display: none;
}

#cardHeightSimilar {
  height: 360px;
  width: 250px;
  margin: 0 auto;
  border-radius: 15px;
}

#cardHeightSimilar p {
  font-size: 13px;
}

#cardHeightSimilar h6 {
  font-size: 15px;
  margin-top: -30px;
}

.card-img-similar {
  height: 150px;
  width: 160px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.card-body p {
  margin-bottom: 0;
}

.reviews {
  width: 40rem;
}

.returnPolicyIcons {
  margin-left: 17%;
}

#inputPassword2 {
  width: 470px;
}

.mobile-hide {
  display: block;
}

.row {
  margin: 0;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -15px;
}

#itemPrice {
  font-size: 10px;
}

.btn-sm {
  padding: 8px 12px;
}

@media only screen and (max-width: 992px) {
  .imageEdit {
    width: 50%;
    height: 60%;
  }

  p {
    margin: 0;
  }

  .reviews {
    width: 100%;
    margin-top: 15px;
  }

  #returnPolicy {
    width: 100%;
    margin: 0 auto;
  }

  .returnPolicyIcons {
    width: 100%;
    margin: 0 0 15px 18px;
  }

  #inputPassword2 {
    width: 100%;
    margin: 0 auto;
  }

  .similarItemsContainer {
    display: block;
  }


  .row {
    margin: 0;
  }

  .mainDiv {
    display: none;
  }

  .mainDiv-mobile {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .moreImages-mobile {
    height: 50px;
    width: 100%;
  }

  .mobile-hide {
    display: none;
  }

}

