<app-header></app-header>

<div *ngIf="wishListItems.length">
  <i class="fa fa-trash fa-lg text-danger mr-3 mt-3 ml-3" (click)="onClearWishlist()"></i>
</div>

<div class="card text-center bg-warning" id="noItemCardInWishlist" *ngIf="!wishListItems.length">
  <div class="card-body">
    <i class="fa fa-4x fa-heart" id="heartIconColor"></i>
    <h3 class="card-title text-black">Oops, your Wishlist is empty!</h3>
    <p class="card-text text-black">Click on shop now to add a product to wishlist and buy it later.</p>
    <a href="#" class="btn btn-sm btn-primary" routerLink="/home/Home">Shop Now</a>
  </div>
</div>

<div class="row mt-4 m-0" *ngFor="let product of wishListItems, let i = index">
  <div class="col-md-4"></div>
  <div class="col-md-8" style="overflow-x: hidden;">
    <div class="card mb-3 wishlist-container">
      <div class="row">
        <div class="col-md-6 p-0">
          <img src="{{ product.image }}" class="img-wishlist">
        </div>
        <div class="col-md-6 p-0">
          <div class="card-body">
            <p class="card-title">{{ product.name }}</p>
            <p class="card-text">{{ product.description }}</p>
            <p class="font-weight-bold">{{ product.price | currency:"INR" }}</p>
            <p class="card-text text-muted"><s>{{ product.mrp | currency:"INR" }}</s></p>
            <p class="card-text text-success">{{ product.discount}}% Off</p>
            <i class="fa fa-trash text-danger fa-lg mr-3 mt-2" (click)="removeItem(i)"></i>
            <i class="fa fa-cart-plus fa-lg text-primary" (click)="addToCart(product)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
