<div class="container">
  <img routerLink="/" src="assets/pics/404page.jpg">
  <p>Oops... We can't find the page you're looking for</p>
  <button routerLink="/" class="btn btn-sm btn-primary">Go home</button>
</div>
