.img-thumbnail {
  height: 160px;
  width: 200px;
  border-radius: 15px 15px 0 0;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.card {
  margin: 10px 0;
  border-radius: 15px;
  padding: 10px;
}

.card-body {
  padding: 12px 0 10px 0;
}

p {
  font-size: 12px;
}

#productPrice {
  font-size: 15px;
}

#disabledBtnRow {
  opacity: 0.6;
  cursor: not-allowed;
}

button {
  width: 25px;
  height: 25px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: -20px;
}

#productDesc {
  width: 200px;
}

@media only screen and (max-width: 768px) {
  .img-thumbnail {
    height: 200px;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .cardContainer {
    width: 100%;
    display: block;
  }

  .card {
    height: auto;
    width: 70%;
    margin: 0 auto;
  }

  p {
    font-size: 10px;
  }
}


