<app-header></app-header>

<!--product menu 1 start-->
<div class="cardContainer mt-3">
  <div class="card mb-3" *ngFor="let product of products" routerLink="/home/productDescription/{{product.id}}">
    <a routerLink="/home/productDescription/{{product.id}}">
      <img src="{{product.image}}" class="img-thumbnail mb-0"/>
    </a>
    <div class="card-body">
      <h6 class="mb-3"><b>{{product.name}}</b></h6>
      <p class="mb-1">{{product.specs}}</p>
      <p class="mb-1" id="productDesc">{{product.description}}</p>
      <p class="text-muted mb-0 mt-3"><s>{{product.mrp | currency:'INR' }}/-</s></p>
      <div class="bottom-row">
        <div class="left">
          <p id="productPrice"><b>{{product.price | currency:'INR' }}/-</b></p>
        </div>
        <div class="right">
          <!--          <i class="fa fa-eye text-primary mr-3" routerLink="/home/productDescription/{{product.id}}"></i>-->
          <i class="fa fa-heart text-danger mr-3" (click)="addToWishlist(product)"></i>
          <i class="fa fa-shopping-cart text-primary" (click)="addToCart(product)"></i>
        </div>
      </div>
    </div>
  </div>
</div>


<!--dummy products-->
<div class="cardContainer" *ngFor="let number of numSequence(5)">
  <div *ngFor="let number of numSequence(5)">
    <div class="card mb-3">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light" id="rippleImg">
        <img src="/assets/pics/dummy.jpg" class="img-thumbnail" alt="Responsive image"/>
      </div>
      <div class="card-body">
        <h6 class="mb-3"><b>Product name</b></h6>
        <p class="mb-1">product specification</p>
        <p class="mb-1">product description</p>
        <p class="text-muted mb-0 mt-3"><s>xx,xxx /-</s></p>
        <div class="bottom-row">
          <div class="left">
            <p><b>xx,xxx /-</b></p>
          </div>
          <div class="button-row" id="disabledBtnRow">
            <!--          <i class="fa fa-eye text-primary mr-3"></i>-->
            <i class="fa fa-heart text-danger mr-3"></i>
            <i class="fa fa-shopping-cart text-primary"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of dummy products-->
<!--pagination-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center mt-4">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1<span class="sr-only">(current)</span></a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
<!--pagination end-->


