<footer class="aqua-gradient">
  <!-- Copyright -->
  <div class="footer">
    <p> © 2022 Copyright:
      VASTRAHUNT by Gitesh Sharma</p>
  </div>
  <!-- Copyright -->
</footer>

<!-- End of .container -->
