.footer {
  background-color: rgba(0, 0, 0, 0.2);
}

p {
  font-size: 12px;
  color: white;
  text-align: center;
  font-weight: lighter;
  padding: 10px 15px;
  margin-bottom: 0;
}
.fa{
  color: black;
  background: whitesmoke;
}
