.d-block {
  width: 1400px;
  height: 600px;
}

.carousel-caption h1 {
  font-size: 45px;
  letter-spacing: 2px;
  font-weight: 400;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.carousel-caption p {
  font-size: 22px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
}

.view img {
  width: 1400px;
  height: 650px;
  margin: 0 auto;
}

.card-container {
  display: flex;
  justify-content: space-around;
}

.card {
  border-radius: 15px;
}

.card p {
  font-size: 12px;
}

.card button {
  margin-bottom: -8px;
}

.card-img {
  width: 200px;
  height: 160px;
  margin-bottom: -10px;
  border-radius: 15px 15px 0 0;
  padding: 2px;
}

.sale-section {
  margin: 30px 0;
}

.sale-img {
  width: 100%;
  height: 90vh;
}

.multiple-sale-section {
  display: flex;
  margin: 10px 0;
}

.multiple-sale-section img {
  width: 100%;
  height: 80vh;
  padding: 0 10px;
}

.saleSectionHeading {
  letter-spacing: 2px;
  font-weight: bold;
}

.saleSectionSubHeading {
  letter-spacing: 2px;
  font-size: 13px;
}

.saleSectionHeadingWomen {
  color: deeppink;
  font-weight: bold;
  letter-spacing: 2px;
}

.saleSectionSubHeadingWomen {
  color: lightcoral;
  letter-spacing: 2px;
  font-size: 13px;
}

.saleSectionCategories {
  display: flex;
  justify-content: space-around;
}

.saleSectionBlock {
  width: 100%;
  height: 260px;
  /*border-radius: 15px;*/
  background-size: 100%;
  /*box-shadow: 6px 6px 6px darkgrey;*/
  margin: 10px;
}

#menShirt {
  background-image: url("https://cdn.shopify.com/s/files/1/0266/6276/4597/products/300911056BLACK_2_1024x1024.jpg?v=1663093994");
}

#menJeans {
  background-image: url("https://images.express.com/is/image/expressfashion/0024_02757665_0018?cache=on&wid=361&fmt=jpeg&qlt=75,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon");
}

#menBags {
  background-image: url("https://images.pexels.com/photos/756024/pexels-photo-756024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#menShoes {
  background-image: url("https://images.pexels.com/photos/1027130/pexels-photo-1027130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#menWatch {
  background-image: url("https://images.pexels.com/photos/2373730/pexels-photo-2373730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#menGrooming {
  background-image: url("https://images.unsplash.com/photo-1621607505833-616916c46a25?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}

#womenShoes {
  background-image: url("https://images.unsplash.com/photo-1595950653106-6c9ebd614d3a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}

#womenBags {
  background-image: url("https://images.pexels.com/photos/11203116/pexels-photo-11203116.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#womenJeans {
  background-image: url("https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/19746566/2022/9/1/3c83985e-af45-4c6b-8586-769f6a3efa821662049780415Jeans1.jpg");
}

#womenTshirt {
  background-image: url("https://img.freepik.com/premium-photo/young-woman-pink-tshirts-denim-shorts-posing-isolated-background_561613-8945.jpg?w=2000");
}

#womenWatches {
  background-image: url("https://site-cdn.huami.com/static/amazfit/provance/product/pc-img/%E7%B2%89%E8%89%B2-4.jpg");
}

#womenBeauty {
  background-image: url("https://images.pexels.com/photos/6988596/pexels-photo-6988596.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.salesCategoryHeading {
  color: black;
  font-weight: bold;
  background: red;
  width: 105px;
  padding-left: 10px;
  letter-spacing: 2px;
  border-radius: 15px 0 15px 0;
}

.salesCategoryHeadingWomen {
  color: black;
  font-weight: bold;
  background: hotpink;
  width: 105px;
  padding-left: 10px;
  letter-spacing: 2px;
  border-radius: 15px 0 15px 0;
}

.salesCategorySubHeading {
  color: white;
  margin-top: 0;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}

.salesCategorySubHeadingWomen {
  color: deeppink;
  margin: 0 0 0 10px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 480px) {
  .view img {
    width: 100%;
    height: 250px;
    margin: 0 auto;
  }

  .carousel-caption {
    display: none;
  }

  .card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 70%;
    height: 350px;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  .card p {
    font-size: 12px;
  }

  .card button {
    margin-bottom: -8px;
  }

  .card-img {
    width: 100%;
    height: 220px;
    margin-bottom: -10px;
    border-radius: 15px 15px 0 0;
  }

  .saleSectionCategories {
    display: block;
  }

  .saleSectionBlock {
    width: 100%;
    height: 360px;
    border-radius: 15px;
    background-size: cover;
    margin-bottom: 20px;
  }

  .sale-section {
    width: 100%;
  }

  .sale-img {
    width: 100%;
    height: 50%;
  }

  .multiple-sale-section {
    overflow-x: scroll;
  }
#menstylesale-img{
  height: 290px;
}
  .multiple-sale-section img {
    width: 50%;
    height: 50%;
    padding: 0 5px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1280px) {
  .card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 30%;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  .sale-section {
    width: 100%;
  }

  .sale-img {
    width: 100%;
    height: 50%;
  }

  .multiple-sale-section {
    overflow-x: scroll;
  }
  #menstylesale-img{
    height: 690px;
  }
  .multiple-sale-section img {
    width: 50%;
    height: 50%;
    padding: 0 5px;
  }
}




