<app-header></app-header>

<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade mt-0 pt-0 m-0 p-0" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
    <li data-target="#carousel-example-2" data-slide-to="3"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <!--Mask color-->
      <div class="view">
        <img class="d-block" src="/assets/pics/carousel/womenwear.png" alt="First slide">
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block"
             src="assets/pics/carousel/menwear.png"
             alt="Second slide">
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block"
             src="assets/pics/carousel/shoes.png"
             alt="Second slide">
      </div>
    </div>
    <div class="carousel-item">
      <div class="view">
        <img class="d-block"
             src="assets/pics/carousel/mobilesale.jpg"
             alt="Third slide">
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<!-- category cards -->
<h5 class="mt-5 ml-4 saleSectionHeading">Shop By Categories</h5>

<hr>

<div class="container-fluid">
  <div class="card-container">
    <div class="card">
      <a href="#" (click)="navigateToTop()" routerLink="/home/productMenu">
        <img src="/assets/pics/on.jpg" class="card-img" alt="Smartphones"/>
      </a>
      <div class="card-body">
        <h6 class="card-title">Mobiles</h6>
        <p class="card-text">Smart people buy Smartphones.</p>
        <button class="btn btn-primary btn-sm" (click)="navigateToTop()" routerLink="/home/productMenu">Shop Now
        </button>
      </div>
    </div>
    <div class="card">
      <img src="/assets/pics/man.jpg" class="card-img" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h6 class="card-title">Men's Wear</h6>
        <p class="card-text">Dress like you are famous.</p>
        <button class="btn btn-primary btn-sm disabled" aria-disabled="true">Shop Now</button>
      </div>
    </div>
    <div class="card">
      <img src="/assets/pics/woman-min.jpg" class="card-img" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h6 class="card-title">Women's Wear</h6>
        <p class="card-text">Make others jealous, always.</p>
        <button class="btn btn-primary btn-sm disabled" aria-disabled="true">Shop Now</button>
      </div>
    </div>
    <div class="card">
      <img src="/assets/pics/sunglassfemale.jpg" class="card-img" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h6 class="card-title">Sunglasses & More</h6>
        <p class="card-text">Stare without getting caught.</p>
        <button class="btn btn-primary btn-sm disabled" aria-disabled="true">Shop Now</button>
      </div>
    </div>
    <div class="card">
      <img src="/assets/pics/shoe.jpg" class="card-img" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h6 class="card-title">Shoes</h6>
        <p class="card-text">What do we all want? Shoes.</p>
        <button class="btn btn-primary btn-sm disabled" aria-disabled="true">Shop Now</button>
      </div>
    </div>
    <div class="card">
      <img src="/assets/pics/bag-min.jpg" class="card-img" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h6 class="card-title">Bags & Bags</h6>
        <p class="card-text">Keep calm & buy Bags.</p>
        <button class="btn btn-primary btn-sm disabled" aria-disabled="true">Shop Now</button>
      </div>
    </div>
  </div>

  <!--men sale section-->
  <!--  <h5 class="saleSectionHeading mt-5 ml-4">The Men Section</h5>-->
  <!--  <p class="saleSectionSubHeading ml-4">Why to wash clothes when you can wear new everyday. Biggest deals on top brands,-->
  <!--    Hurry, Grab it now !!</p>-->
  <!--  <hr>-->
  <!--  <div class="container-fluid">-->
  <!--    <div class="saleSectionCategories">-->
  <!--      <div class="saleSectionBlock" id="menShirt">-->
  <!--        <h6 class="salesCategoryHeading">Shirts</h6>-->
  <!--        <p class="salesCategorySubHeading">Upto 50% off</p>-->
  <!--      </div>-->
  <!--      <div class="saleSectionBlock" id="menJeans">-->
  <!--        <h6 class="salesCategoryHeading">Jeans</h6>-->
  <!--        <p class="salesCategorySubHeading">Upto 50% off</p>-->
  <!--      </div>-->
  <!--      <div class="saleSectionBlock" id="menBags">-->
  <!--        <h6 class="salesCategoryHeading">Bags</h6>-->
  <!--        <p class="salesCategorySubHeading">Upto 60% off</p>-->
  <!--      </div>-->
  <!--      <div class="saleSectionBlock" id="menShoes">-->
  <!--        <h6 class="salesCategoryHeading">Shoes</h6>-->
  <!--        <p class="salesCategorySubHeading">Upto 60% off</p>-->
  <!--      </div>-->
  <!--      <div class="saleSectionBlock" id="menWatch">-->
  <!--        <h6 class="salesCategoryHeading">Watches</h6>-->
  <!--        <p class="salesCategorySubHeading">Upto 60% off</p>-->
  <!--      </div>-->
  <!--      <div class="saleSectionBlock" id="menGrooming">-->
  <!--        <h6 class="salesCategoryHeading">Grooming</h6>-->
  <!--        <p class="salesCategorySubHeading">Min 30% off</p>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--women sale section-->
  <!--  <h5 class="saleSectionHeadingWomen mt-5 ml-4">Mom I Want Pink</h5>-->
  <!--  <p class="saleSectionSubHeadingWomen ml-4">Sorry we don't sale Pink Husband. We sale Salmon pink, Old Pink,-->
  <!--    Carnation pink, Hot pink, Magneto pink and offcourse Pink.-->
  <!--  <hr>-->
  <!--  <div class="container-fluid mb-5">-->
  <!--    <div class="saleSectionCategories">-->
  <!--      <div class="saleSectionBlock" id="womenTshirt">-->
  <!--        <h6 class="salesCategoryHeadingWomen">T-Shirts</h6>-->
  <!--        <p class="salesCategorySubHeadingWomen">Min 60% off</p>-->
  <!--      </div>-->
  <!--      <div class="saleSectionBlock" id="womenJeans">-->
  <!--        <h6 class="salesCategoryHeadingWomen">Jeans</h6>-->
  <!--        <p class="salesCategorySubHeadingWomen">Min 50% off</p>-->
  <!--      </div>-->
  <!--      <div class="saleSectionBlock" id="womenBags">-->
  <!--        <h6 class="salesCategoryHeadingWomen">Bags</h6>-->
  <!--        <p class="salesCategorySubHeadingWomen">Upto 60% off</p>-->
  <!--      </div>-->
  <!--      <div class="saleSectionBlock" id="womenShoes">-->
  <!--        <h6 class="salesCategoryHeadingWomen">Shoes</h6>-->
  <!--        <p class="salesCategorySubHeadingWomen">Min 60% off</p>-->
  <!--      </div>-->
  <!--      <div class="saleSectionBlock" id="womenWatches">-->
  <!--        <h6 class="salesCategoryHeadingWomen">Watches</h6>-->
  <!--        <p class="salesCategorySubHeadingWomen">Upto 70% off</p>-->
  <!--      </div>-->
  <!--      <div class="saleSectionBlock" id="womenBeauty">-->
  <!--        <h6 class="salesCategoryHeadingWomen">Beauty</h6>-->
  <!--        <p class="salesCategorySubHeadingWomen">Upto 40% off</p>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  sale section-->
  <section>
    <div class="multiple-sale-section">
      <img src="/assets/pics/sale/mobilesale.jpg" (click)="navigateToTop()" routerLink="/home/productMenu" class="sale-img" alt="Fissure in Sandstone"/>
      <img src="/assets/pics/sale/mobilesale2.jpg" (click)="navigateToTop()" routerLink="/home/productMenu" class="sale-img" alt="Fissure in Sandstone"/>
    </div>

    <div class="sale-section">
      <img src="/assets/pics/sale/womenwear.png" class="sale-img" alt="Fissure in Sandstone"/>
    </div>

    <!--    multiple sale offers-->
    <div class="multiple-sale-section">
      <img src="assets/pics/sale/speakersale.png">
      <img src="assets/pics/sale/watchsale.png">
      <img src="assets/pics/sale/clearancesale2.png">
      <img src="assets/pics/sale/skincare.png">
    </div>

    <div class="sale-section">
      <img src="/assets/pics/sale/sunglasssale.png" class="sale-img" alt="Fissure in Sandstone"/>
    </div>

    <div class="sale-section">
      <img src="/assets/pics/sale/shoessale.png" class="sale-img" alt="Fissure in Sandstone"/>
    </div>

    <div class="sale-section">
      <img src="/assets/pics/sale/heelssale.png" class="sale-img" alt="Fissure in Sandstone"/>
    </div>

    <!--    multiple sale offers-->
    <div class="multiple-sale-section">
      <img src="assets/pics/sale/menstylesale.png" id="menstylesale-img">
      <img src="assets/pics/sale/fashionsale3.png">
      <img src="assets/pics/sale/fashiosale4.png">
      <img src="assets/pics/sale/fashionsale.png">
    </div>

    <div class="sale-section">
      <img src="/assets/pics/sale/menswearsale.png" class="sale-img" alt="Fissure in Sandstone"/>
    </div>

    <div class="sale-section">
      <img src="/assets/pics/sale/shoessale2.png" class="sale-img" alt="Fissure in Sandstone"/>
    </div>

    <!--    multiple sale offers-->
    <div class="multiple-sale-section">
      <img src="assets/pics/sale/slippersale.png">
      <img src="assets/pics/sale/sportssale.png">
      <img src="assets/pics/sale/sunglsses.png">
      <img src="assets/pics/sale/bagssale.png">
    </div>

    <div class="sale-section">
      <img src="/assets/pics/sale/womenwearsale.png" class="sale-img" alt="Fissure in Sandstone"/>
    </div>

    <div class="sale-section">
      <img src="/assets/pics/sale/sale.png" class="sale-img" alt="Fissure in Sandstone"/>
    </div>

    <!--    multiple sale offers-->
    <div class="multiple-sale-section">
      <img src="assets/pics/sale/furnituresale.png">
      <img src="assets/pics/sale/jewellerysale.png">
      <img src="assets/pics/sale/clearancesale.png">
    </div>
  </section>
</div>

<app-footer></app-footer>
