#noItemCardInCart{
  margin-top: 200px;
}

@media only screen and (max-width: 992px){
  #cardBody-mobile{
    text-align: center;
  }
  .total-cart-mobile{
    margin-bottom: 15px;
  }
  .card-img{
    width: 100%;
    height: 250px;
  }
  .fa-trash{
    margin-bottom: 25px;
  }
}
